@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html,
body {
  font-family: "Lato";
  background-color: lightgray;
  margin: 0;
  padding: 0;
}
html h1,
html h5,
html h6,
html h8,
html p,
html ul,
html li,
body h1,
body h5,
body h6,
body h8,
body p,
body ul,
body li {
  margin: 0;
  padding: 0;
  list-style: none;
}
html a,
html a:hover,
html a:focus,
html a:active,
body a,
body a:hover,
body a:focus,
body a:active {
  text-decoration: none;
  color: inherit;
}
@media (max-width: 767px) {
  html nav,
body nav {
    padding: 15px;
    background-color: white;
  }
  html nav .desktop-nav,
body nav .desktop-nav {
    display: none;
  }
  html nav .mobile-nav-closed .hamburger i,
body nav .mobile-nav-closed .hamburger i {
    font-size: 40px;
    color: black;
  }
  html nav .mobile-nav-closed .logo,
body nav .mobile-nav-closed .logo {
    margin-left: 30%;
    width: 80px;
    height: 80px;
  }
  html nav .mobile-nav-open,
body nav .mobile-nav-open {
    display: none;
    background-color: #272a31;
    z-index: 2;
    height: 100%;
  }
  html nav .mobile-nav-open i,
body nav .mobile-nav-open i {
    font-size: 20px;
  }
  html nav .mobile-nav-open .close-mobile-nav,
body nav .mobile-nav-open .close-mobile-nav {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
    cursor: pointer;
  }
  html nav .mobile-nav-open .mobile-navbar-list,
body nav .mobile-nav-open .mobile-navbar-list {
    height: 100vh;
  }
  html nav .mobile-nav-open .mobile-navbar-list .mobile-nav-items,
body nav .mobile-nav-open .mobile-navbar-list .mobile-nav-items {
    padding: 2rem;
  }
  html nav .mobile-nav-open .mobile-navbar-list .mobile-nav-items .nav-link,
body nav .mobile-nav-open .mobile-navbar-list .mobile-nav-items .nav-link {
    color: white;
  }
  html nav .mobile-nav-open .mobile-navbar-list .mobile-nav-items .nav-link:hover,
body nav .mobile-nav-open .mobile-navbar-list .mobile-nav-items .nav-link:hover {
    color: #ee523c;
    transition: all 0.3s ease;
  }
  html nav .partner,
body nav .partner {
    background-color: #272a31;
    padding: 20px;
  }
  html nav .partner .title,
body nav .partner .title {
    text-align: center;
    color: white;
    padding-top: 2rem;
  }
  html nav .partner .title h5,
body nav .partner .title h5 {
    font-size: 20px;
  }
  html nav .partner .title hr,
body nav .partner .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html nav .partner .sponsors,
body nav .partner .sponsors {
    margin: 2rem;
  }
  html nav .partner .sponsors img,
body nav .partner .sponsors img {
    width: 90px;
    padding: 20px;
  }
  html .home .home-background,
body .home .home-background {
    background-image: url("../../images/mobile_intro_bg.png");
  }
  html .home .home-background .top-area,
body .home .home-background .top-area {
    padding: 15px;
    z-index: 1;
  }
  html .home .home-background .top-area h2,
body .home .home-background .top-area h2 {
    color: #ee523c;
    font-size: 40px;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  html .home .home-background .top-area h1,
body .home .home-background .top-area h1 {
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 2rem;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("../../images/about_2013.png");
  }
  html .home .home-background .top-area p,
body .home .home-background .top-area p {
    border: 5px solid white;
    background-color: #d3d3d3;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
  }
  html .home .home-background .top-area h6,
body .home .home-background .top-area h6 {
    color: #272a31;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  html .home .home-background .top-area small,
body .home .home-background .top-area small {
    color: #272a31;
    font-size: 15px;
    font-weight: light;
    margin-left: 1rem;
  }
  html .home .main-program,
body .home .main-program {
    padding-top: 1.5rem;
    background-image: url("../../images/pattern_bg.png");
    background-color: #272a31;
    color: white;
  }
  html .home .main-program hr,
body .home .main-program hr {
    width: 35px;
    border: 1px solid #ee523c;
  }
  html .home .main-program .main-program-title,
body .home .main-program .main-program-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  html .home .main-program .program-container .program-card,
body .home .main-program .program-container .program-card {
    background-color: #3c3f46;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 25px;
    padding: 10px;
    gap: 5px;
    opacity: 0.7;
  }
  html .home .main-program .program-container .program-card .icon,
body .home .main-program .program-container .program-card .icon {
    width: 15%;
  }
  html .home .main-program .program-container .program-card .icon img,
body .home .main-program .program-container .program-card .icon img {
    width: 50px;
    height: 50px;
  }
  html .home .main-program .program-container .program-card .title,
body .home .main-program .program-container .program-card .title {
    width: 35%;
    font-weight: 900;
    color: #ee523c;
    font-size: 15px;
  }
  html .home .main-program .program-container .program-card .description,
body .home .main-program .program-container .program-card .description {
    font-size: 13px;
  }
  html .home .main-program .program-link,
body .home .main-program .program-link {
    display: none;
  }
  html .home .main-program .button-container,
body .home .main-program .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
  }
  html .home .main-program .button-container .main-program-button,
body .home .main-program .button-container .main-program-button {
    height: 60px;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    font-weight: 900;
    color: white;
    background-color: #ee523c;
    border: none;
    cursor: pointer;
  }
  html .home .featured-speakers,
body .home .featured-speakers {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
  }
  html .home .featured-speakers .line-title,
body .home .featured-speakers .line-title {
    width: 35px;
    border: 1px solid #ee523c;
  }
  html .home .featured-speakers .title,
body .home .featured-speakers .title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  html .home .featured-speakers .speaker-card,
body .home .featured-speakers .speaker-card {
    display: flex;
    flex-direction: row;
    margin: 10%;
    gap: 10px;
  }
  html .home .featured-speakers .speaker-card .image-container,
body .home .featured-speakers .speaker-card .image-container {
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 10px;
  }
  html .home .featured-speakers .speaker-card .image-container .speaker,
body .home .featured-speakers .speaker-card .image-container .speaker {
    width: 70px;
    position: relative;
    top: 5px;
    left: 5px;
  }
  html .home .featured-speakers .speaker-card .card-text,
body .home .featured-speakers .speaker-card .card-text {
    position: inherit;
    padding: 8%;
    left: 60%;
    flex-direction: column;
    width: 70%;
    z-index: 1;
  }
  html .home .featured-speakers .speaker-card .card-text .card-title,
body .home .featured-speakers .speaker-card .card-text .card-title {
    position: inherit;
    left: 30%;
    font-weight: 900;
    top: 50px;
    font-size: 15px;
  }
  html .home .featured-speakers .speaker-card .card-text .card-subtitle,
body .home .featured-speakers .speaker-card .card-text .card-subtitle {
    position: inherit;
    color: #ee523c;
    font-style: italic;
    font-weight: 900;
    font-size: 10px;
  }
  html .home .featured-speakers .speaker-card .card-text .line-subtitle,
body .home .featured-speakers .speaker-card .card-text .line-subtitle {
    margin: 10px 0 10px 0;
    width: 10px;
  }
  html .home .featured-speakers .speaker-card .card-text .card-description,
body .home .featured-speakers .speaker-card .card-text .card-description {
    position: absolute;
    font-size: 10px;
  }
  html .home .featured-speakers .more-button-container,
body .home .featured-speakers .more-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  }
  html .home .featured-speakers .more-button-container .more-button,
body .home .featured-speakers .more-button-container .more-button {
    height: 60px;
    width: 90%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 600;
    color: white;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    background-color: white;
    color: black;
  }
  html .home .featured-speakers .more-button-container i,
body .home .featured-speakers .more-button-container i {
    color: #ee523c;
  }
  html .home .featured-speakers .less-button-container,
body .home .featured-speakers .less-button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
  }
  html .home .featured-speakers .less-button-container .less-button,
body .home .featured-speakers .less-button-container .less-button {
    height: 60px;
    width: 90%;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 600;
    color: white;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    background-color: white;
    color: black;
  }
  html .home .featured-speakers .less-button-container i,
body .home .featured-speakers .less-button-container i {
    color: #ee523c;
  }
  html .about .about-background,
body .about .about-background {
    text-align: center;
    background-image: url("../../images/mobile_intro_bg.png");
  }
  html .about .about-background .top-area,
body .about .about-background .top-area {
    padding: 15px;
    z-index: 1;
  }
  html .about .about-background .top-area h5,
body .about .about-background .top-area h5 {
    color: #ee523c;
    font-size: 25px;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  html .about .about-background .top-area h1,
body .about .about-background .top-area h1 {
    font-weight: 900;
    font-size: 52.5px;
    padding-bottom: 2rem;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg");
  }
  html .about .about-background .top-area .description,
body .about .about-background .top-area .description {
    border: 5px solid white;
    background-color: #d3d3d3;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
  }
  html .about .about-background .top-area h6,
body .about .about-background .top-area h6 {
    color: #272a31;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  html .about .about-background .top-area h8,
body .about .about-background .top-area h8 {
    color: #272a31;
    font-size: 15px;
    font-weight: light;
    margin-left: 1rem;
  }
  html .about .contact,
body .about .contact {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  html .about .email,
body .about .email {
    font-weight: bold;
    text-decoration: underline;
  }
  html .creative-commons,
body .creative-commons {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  html .creative-commons .title,
body .creative-commons .title {
    text-align: center;
  }
  html .creative-commons .title h5,
body .creative-commons .title h5 {
    font-size: 20px;
  }
  html .creative-commons .title hr,
body .creative-commons .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html .creative-commons .title p,
body .creative-commons .title p {
    font-size: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  html .creative-commons .image-container,
body .creative-commons .image-container {
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid #d3d3d3;
  }
  html .creative-commons hr,
body .creative-commons hr {
    border: 1px solid #d3d3d3;
  }
  html .past-summits,
body .past-summits {
    background-color: white;
    padding: 10px;
  }
  html .past-summits .title,
body .past-summits .title {
    text-align: center;
  }
  html .past-summits .title h5,
body .past-summits .title h5 {
    font-size: 20px;
  }
  html .past-summits .title hr,
body .past-summits .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html .past-summits .title p,
body .past-summits .title p {
    font-size: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  html .past-summits .image-area,
body .past-summits .image-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding: 15px;
    gap: 10px;
    height: 100%;
  }
  html .past-summits .image-area .event-1-overlay,
body .past-summits .image-area .event-1-overlay {
    position: relative;
    background: #ee523c;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
  }
  html .past-summits .image-area .event-1-overlay:hover,
body .past-summits .image-area .event-1-overlay:hover {
    background-color: #272a31;
  }
  html .past-summits .image-area .event-1-overlay .image-text-1,
body .past-summits .image-area .event-1-overlay .image-text-1 {
    position: absolute;
    top: 45%;
    left: 45%;
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  html .past-summits .image-area .event-1-overlay .event-1,
body .past-summits .image-area .event-1-overlay .event-1 {
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.6;
  }
  html .past-summits .image-area .event-2-overlay,
body .past-summits .image-area .event-2-overlay {
    position: relative;
    background: #ee523c;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
  }
  html .past-summits .image-area .event-2-overlay:hover,
body .past-summits .image-area .event-2-overlay:hover {
    background-color: #272a31;
  }
  html .past-summits .image-area .event-2-overlay .image-text-2,
body .past-summits .image-area .event-2-overlay .image-text-2 {
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  html .past-summits .image-area .event-2-overlay .event-2,
body .past-summits .image-area .event-2-overlay .event-2 {
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.6;
  }
  html .partner,
body .partner {
    background-color: #272a31;
    display: none;
  }
  html .partner .title,
body .partner .title {
    text-align: center;
    color: white;
    padding-top: 2rem;
  }
  html .partner .title h5,
body .partner .title h5 {
    font-size: 20px;
  }
  html .partner .title hr,
body .partner .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html .partner .sponsors,
body .partner .sponsors {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.7;
  }
  html .partner .sponsors img,
body .partner .sponsors img {
    width: 90px;
    padding: 2rem;
  }
  html footer,
body footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5rem;
    padding-bottom: 10px;
    margin: 10px;
  }
  html footer img,
body footer img {
    width: 80px;
    padding: 10px;
  }
  html footer p,
body footer p {
    align-self: center;
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  html .mobile-nav-closed,
body .mobile-nav-closed {
    display: none;
  }
  html .mobile-nav-open,
body .mobile-nav-open {
    display: none;
  }
  html .desktop-nav,
body .desktop-nav {
    display: flex;
    flex-direction: column;
  }
  html .desktop-nav .social-media,
body .desktop-nav .social-media {
    background-color: #272a31;
  }
  html .desktop-nav .social-media .social-media-list,
body .desktop-nav .social-media .social-media-list {
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 12px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    height: 2rem;
  }
  html .desktop-nav .desktop-navbar,
body .desktop-nav .desktop-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
    background-color: white;
  }
  html .desktop-nav .desktop-navbar .logo a .logo-image,
body .desktop-nav .desktop-navbar .logo a .logo-image {
    width: 30%;
  }
  html .desktop-nav .desktop-navbar .navbar .navbar-list,
body .desktop-nav .desktop-navbar .navbar .navbar-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  html .desktop-nav .desktop-navbar .navbar .navbar-list .navbar-list-item,
body .desktop-nav .desktop-navbar .navbar .navbar-list .navbar-list-item {
    border: 5px solid white;
    padding: 10px;
  }
  html .desktop-nav .desktop-navbar .navbar .navbar-list .navbar-list-item:hover,
body .desktop-nav .desktop-navbar .navbar .navbar-list .navbar-list-item:hover {
    color: #ee523c;
    transition: all 0.3s ease;
    text-decoration: underline;
  }
  html .desktop-nav .desktop-navbar .navbar .navbar-list .highlight,
body .desktop-nav .desktop-navbar .navbar .navbar-list .highlight {
    border: 5px solid #ee523c;
    padding: 10px;
  }
  html .home .home-background,
body .home .home-background {
    background-image: url("../../images/main_big.png");
    background-repeat: no-repeat;
  }
  html .home .home-background .top-area,
body .home .home-background .top-area {
    padding: 5rem;
    z-index: 1;
  }
  html .home .home-background .top-area h2,
body .home .home-background .top-area h2 {
    color: #ee523c;
    font-size: 40px;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  html .home .home-background .top-area h1,
body .home .home-background .top-area h1 {
    font-weight: 900;
    font-size: 60px;
    padding-bottom: 2rem;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("../../images/about_2013.png");
  }
  html .home .home-background .top-area p,
body .home .home-background .top-area p {
    border: 5px solid white;
    background-color: #d3d3d3;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
  }
  html .home .home-background .top-area h6,
body .home .home-background .top-area h6 {
    color: #272a31;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  html .home .home-background .top-area small,
body .home .home-background .top-area small {
    color: #272a31;
    font-size: 15px;
    font-weight: light;
    margin-left: 1rem;
  }
  html .home .main-program,
body .home .main-program {
    padding-top: 1.5rem;
    background-image: url("../../images/pattern_bg.png");
    background-color: #272a31;
    color: white;
    height: 80vh;
  }
  html .home .main-program hr,
body .home .main-program hr {
    width: 35px;
    border: 1px solid #ee523c;
  }
  html .home .main-program .main-program-title,
body .home .main-program .main-program-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  html .home .main-program .program-container,
body .home .main-program .program-container {
    display: flex;
    padding: 30px;
  }
  html .home .main-program .program-container .program-card,
body .home .main-program .program-container .program-card {
    background-color: #3c3f46;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 10px;
    gap: 2px;
    opacity: 0.7;
    width: 100%;
    height: 30vh;
  }
  html .home .main-program .program-container .program-card .icon,
body .home .main-program .program-container .program-card .icon {
    width: 30%;
    padding: 5px;
  }
  html .home .main-program .program-container .program-card .icon img,
body .home .main-program .program-container .program-card .icon img {
    width: 50px;
    height: 50px;
  }
  html .home .main-program .program-container .program-card .title,
body .home .main-program .program-container .program-card .title {
    font-weight: 900;
    color: #ee523c;
    font-size: 13px;
    font-weight: bold;
  }
  html .home .main-program .program-container .program-card .description,
body .home .main-program .program-container .program-card .description {
    font-size: 11px;
  }
  html .home .main-program .button-container,
body .home .main-program .button-container {
    display: none;
  }
  html .home .main-program .program-link,
body .home .main-program .program-link {
    padding: 5rem;
    text-align: center;
  }
  html .home .main-program .program-link .program-link-tag,
body .home .main-program .program-link .program-link-tag {
    text-decoration: underline;
    color: #d3d3d3;
  }
  html .home .featured-speakers,
body .home .featured-speakers {
    padding-top: 1.5rem;
    background-color: white;
  }
  html .home .featured-speakers .line-title,
body .home .featured-speakers .line-title {
    width: 35px;
    border: 1px solid #ee523c;
  }
  html .home .featured-speakers .title,
body .home .featured-speakers .title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
  }
  html .home .featured-speakers .speaker-container,
body .home .featured-speakers .speaker-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-bottom: 1rem;
  }
  html .home .featured-speakers .speaker-container .speaker-card,
body .home .featured-speakers .speaker-container .speaker-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    gap: 10px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .image-container,
body .home .featured-speakers .speaker-container .speaker-card .image-container {
    top: 0;
    left: 0;
    width: 90px;
    height: 90px;
    padding: 10px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .image-container .speaker,
body .home .featured-speakers .speaker-container .speaker-card .image-container .speaker {
    width: 70px;
    position: relative;
    top: 5px;
    left: 5px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .card-text,
body .home .featured-speakers .speaker-container .speaker-card .card-text {
    position: inherit;
    padding: 5px;
    left: 60%;
    flex-direction: column;
    width: 70%;
    z-index: 1;
    margin: 5px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .card-text .card-title,
body .home .featured-speakers .speaker-container .speaker-card .card-text .card-title {
    position: inherit;
    left: 30%;
    font-weight: 900;
    top: 50px;
    font-size: 15px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .card-text .card-subtitle,
body .home .featured-speakers .speaker-container .speaker-card .card-text .card-subtitle {
    position: inherit;
    color: #ee523c;
    font-style: italic;
    font-weight: 900;
    font-size: 10px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .card-text .line-subtitle,
body .home .featured-speakers .speaker-container .speaker-card .card-text .line-subtitle {
    margin: 10px 0 10px 0;
    width: 10px;
  }
  html .home .featured-speakers .speaker-container .speaker-card .card-text .card-description,
body .home .featured-speakers .speaker-container .speaker-card .card-text .card-description {
    position: absolute;
    font-size: 10px;
    width: 30%;
  }
  html .home .featured-speakers .speaker-container .more-button-container,
body .home .featured-speakers .speaker-container .more-button-container {
    display: none;
  }
  html .home .featured-speakers .speaker-container .less-button-container,
body .home .featured-speakers .speaker-container .less-button-container {
    display: none;
  }
  html .about .about-background,
body .about .about-background {
    text-align: center;
    background-image: url("../../images/mobile_intro_bg.png");
  }
  html .about .about-background .top-area,
body .about .about-background .top-area {
    padding: 15px;
    z-index: 1;
  }
  html .about .about-background .top-area h5,
body .about .about-background .top-area h5 {
    color: #ee523c;
    font-size: 25px;
    font-weight: normal;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  html .about .about-background .top-area h1,
body .about .about-background .top-area h1 {
    font-weight: 900;
    font-size: 52.5px;
    padding-bottom: 2rem;
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url("https://s3.amazonaws.com/usefulangle/news/95-5f6cc1ad5575e.jpg");
  }
  html .about .about-background .top-area .description,
body .about .about-background .top-area .description {
    border: 5px solid white;
    background-color: #d3d3d3;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.8rem;
  }
  html .about .about-background .top-area h6,
body .about .about-background .top-area h6 {
    color: #272a31;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
  }
  html .about .about-background .top-area h8,
body .about .about-background .top-area h8 {
    color: #272a31;
    font-size: 15px;
    font-weight: light;
    margin-left: 1rem;
  }
  html .about .contact,
body .about .contact {
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  html .about .email,
body .about .email {
    font-weight: bold;
    text-decoration: underline;
  }
  html .creative-commons,
body .creative-commons {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  html .creative-commons .title,
body .creative-commons .title {
    text-align: center;
  }
  html .creative-commons .title h5,
body .creative-commons .title h5 {
    font-size: 20px;
  }
  html .creative-commons .title hr,
body .creative-commons .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html .creative-commons .title p,
body .creative-commons .title p {
    font-size: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  html .creative-commons .image-container,
body .creative-commons .image-container {
    margin: 3rem;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-self: center;
    border: 1px solid #d3d3d3;
  }
  html .creative-commons hr,
body .creative-commons hr {
    border: 1px solid #d3d3d3;
  }
  html .past-summits,
body .past-summits {
    background-color: white;
  }
  html .past-summits .title,
body .past-summits .title {
    text-align: center;
  }
  html .past-summits .title h5,
body .past-summits .title h5 {
    font-size: 20px;
  }
  html .past-summits .title hr,
body .past-summits .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html .past-summits .title p,
body .past-summits .title p {
    font-size: 15px;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  html .past-summits .image-area,
body .past-summits .image-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    padding: 2rem;
    gap: 10px;
  }
  html .past-summits .image-area .event-1-overlay,
body .past-summits .image-area .event-1-overlay {
    position: relative;
    background: #ee523c;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
  }
  html .past-summits .image-area .event-1-overlay:hover,
body .past-summits .image-area .event-1-overlay:hover {
    background-color: #272a31;
  }
  html .past-summits .image-area .event-1-overlay .image-text-1,
body .past-summits .image-area .event-1-overlay .image-text-1 {
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  html .past-summits .image-area .event-1-overlay .event-1,
body .past-summits .image-area .event-1-overlay .event-1 {
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.6;
  }
  html .past-summits .image-area .event-2-overlay,
body .past-summits .image-area .event-2-overlay {
    position: relative;
    background: #ee523c;
    z-index: 2;
    top: 0;
    left: 0;
    opacity: 1;
  }
  html .past-summits .image-area .event-2-overlay:hover,
body .past-summits .image-area .event-2-overlay:hover {
    background-color: #272a31;
  }
  html .past-summits .image-area .event-2-overlay .image-text-2,
body .past-summits .image-area .event-2-overlay .image-text-2 {
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 30px;
    font-weight: 900;
  }
  html .past-summits .image-area .event-2-overlay .event-2,
body .past-summits .image-area .event-2-overlay .event-2 {
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.6;
  }
  html .partner,
body .partner {
    background-color: #272a31;
  }
  html .partner .title,
body .partner .title {
    text-align: center;
    color: white;
    padding-top: 2rem;
  }
  html .partner .title h5,
body .partner .title h5 {
    font-size: 20px;
  }
  html .partner .title hr,
body .partner .title hr {
    border: 1px solid #ee523c;
    width: 20px;
  }
  html .partner .sponsors,
body .partner .sponsors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.7;
  }
  html .partner .sponsors img,
body .partner .sponsors img {
    width: 90px;
    padding: 20px;
  }
  html footer,
body footer {
    background-color: #272a31;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5rem;
    padding-bottom: 1rem;
  }
  html footer img,
body footer img {
    width: 110px;
  }
  html footer p,
body footer p {
    align-self: center;
    padding-left: 10px;
    color: white;
  }
}

/*# sourceMappingURL=styles.css.map */
